@brand-primary: #0047ab;

.chart-left {
    width: 70px;
    vertical-align: top;
}

.chart-center {
    width: 100%;
    vertical-align: middle;
}

.chart-right {
    width: 70px;
    vertical-align: top;
}

.recharts-surface:focus {
    outline: none;
}

.btn-chart-header {
    margin-top: 32px;
    width: 100%;
}

.dashboard-readout-container {
    padding-top: 20px;
}

.dashboard-readout-screen {
    background-color: #000;
    font-family: "IBM 3270", monospace;
    white-space: pre-wrap;
}

.dashboard-readout-header {
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 18px;
}

.dashboard-readout-body {
    color: #00ff00;
    font-size: 30px;
}

@media (max-width : @screen-lg-min) {

    .dashboard-readout-header {
        font-size: 18px;
        padding-bottom: 12px;
    }

    .dashboard-readout-body {
        font-size: 18px;
    }
}


